/**
 * Review 요청
 * Line #: 21 부터
 * Full height를 갖기 위해 index.css를 수정했는데, index.css에 작성해도 되는지요?
 **/

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
		"Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
		"Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

/* hkwon added */
html,
body,
#root {
	width: 100%;
	height: 100%;
}